@tailwind base;
@tailwind components;
@tailwind utilities;

.red {
  border: 1px solid red;
}
.blue {
  border: 1px solid blue;
}

html {
  scroll-behavior: smooth;
}

h1 .icon-link::before,
h2 .icon-link::before,
h3 .icon-link::before,
h4 .icon-link::before,
h5 .icon-link::before,
h6 .icon-link::before {
  content: "#";
  display: inline-block;
  font-size: 0.8rem;
}

code {
  counter-reset: line;
  gap: 4px;
}
 
code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}
 
code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}
 
code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}

[data-highlighted-line]{
  background-color: rgba(255, 255, 255, 0.1) !important;
  /* margin-bottom: 4px !important; */
  border-left: 2px solid #7800D3 !important;
  padding: 2px;
}

[data-highlighted-chars] {
  background-color: rgba(255, 255, 255, 0.2) !important;
  padding: 2px !important;
}

[data-rehype-pretty-code-fragment]{
  position: relative;
}

[data-rehype-pretty-code-title]{
  position: absolute;
  right: 0;
  background-color: #7800D3;
  border-radius: 0 0 5px 5px;
  padding: 4px 8px;
  color: #fff;
  font-size: small;
}

[data-rehype-pretty-code-caption]{
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #747474;
}
